DJANGO_DEBUG=True
SECRET_KEY=replace-with-a-unique-random-secret

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL="LARK Fencing <no-reply@larkfencing.ie>"

RECAPTCHA_SECRET_KEY=
RECAPTCHA_TIMEOUT=5

DEFAULT_DELIVERY_FEE=0.00
RETURNS_POLICY_VERSION="Cancellation and returns Draft 1.0"
